# NOTE: Course 'Data Types for Data Science in Python' (chapter 1, 2) in DataCamp might be helpful for completing this assignment

# Lists (5 points)

1.Create a list containing the names of animals 'cat', 'lion', 'cow' and 'crocodile': animal_list

In [1]:
#your code/answer here
animal_list = ['cat', 'lion', 'cow', 'crocodile']
print(animal_list)

['cat', 'lion', 'cow', 'crocodile']

2.Extend animal_list by adding 'horse' and 'dog' using extend() function, then print animal_test

In [2]:
#your code/answer here
animal_list.extend(['horse', 'dog'])
print(animal_list)

['cat', 'lion', 'cow', 'crocodile', 'horse', 'dog']

3.Find the position 'crocodile' in the animal_list, and assign it to variable 'position'

In [3]:
#your code/answer here
position = animal_list.index('crocodile')
print(position)

3

4.Remove 'crocodile' from animal_list using pop() function

In [4]:
#your code/answer here
a = animal_list.pop(3)
print('Popped element: ', a, ' List remaining: ', animal_list)

Popped element:  crocodile  List remaining:  ['cat', 'lion', 'cow', 'horse', 'dog']

5.Loop over the animal_list, and print each element

In [5]:
#your code/answer here
for element in animal_list:
    print(element)

cat
lion
cow
horse
dog

# Tuple (2 points)

In [6]:
cities = ['Almaty', 'Boston', 'Toronto', 'Paris', 'Tokio']
countries = ['Kazakhstan', 'United States', 'Canada', 'France', 'Japan']

1.Use the zip() function to pair up cities and countries into a variable called places.

In [7]:
#your code/answer here
cities = ['Almaty', 'Boston', 'Toronto', 'Paris', 'Tokio']
countries = ['Kazakhstan', 'United States', 'Canada', 'France', 'Japan']
places = list(zip(countries, cities))
print(places)

[('Kazakhstan', 'Almaty'), ('United States', 'Boston'), ('Canada', 'Toronto'), ('France', 'Paris'), ('Japan', 'Tokio')]

2.Use a for loop to loop through places, using enumerate() to keep track of your position. 
Unpack pairs of cities and countries into the variables idx and pair. Print the place number (starting from 1), city, and country, in that order.

The output should look like this:
Place 1: Almaty in Kazakhstan
Place 2: Boston in United States
Place 3: Toronto in Canada
Place 4: Paris in France
Place 5: Tokio in Japan

In [18]:
#your code/answer here
places = zip(countries, cities)
for idx, pair in enumerate(places):
    city, country = pair
print('Place {}: {} in {}'.format(idx, city, country))

Place 4: Japan in Tokio

# SETS (5 points)

In [9]:
Aizhan_travel_places = {'Boston', 'Madrid', 'Tokio', 'Rome', 'Cancun', 'Los Angeles', 'Moscow'}
Indira_travel_places = {'Boston', 'New York', 'Istanbul', 'Paris', 'Cancun', 'Los Angeles'}

1. Find the union: all_travel_places

In [8]:
#your code/answer here
Aizhan_travel_places = {'Boston', 'Madrid', 'Tokio', 'Rome', 'Cancun', 'Los Angeles', 'Moscow'}
Indira_travel_places = {'Boston', 'New York', 'Istanbul', 'Paris', 'Cancun', 'Los Angeles'}
all_travel_places = Aizhan_travel_places.union(Indira_travel_places)
print(all_travel_places)

{'Cancun', 'Los Angeles', 'Boston', 'Tokio', 'Moscow', 'Istanbul', 'Rome', 'New York', 'Madrid', 'Paris'}

2. Find the intersection of travel places where both Aizhan and Indira have been and assign it to variable overlapping_places. Print overlapping_places

In [9]:
#your code/answer here
overlaping_places = Aizhan_travel_places.intersection(Indira_travel_places)
print(overlaping_places)

{'Cancun', 'Boston', 'Los Angeles'}

3. Print the count of places in overlapping_places

In [10]:
#your code/answer here
overlaping_places = Aizhan_travel_places.intersection(Indira_travel_places)
print(len(overlaping_places))

3

What are the cities where Aizhan was, but not Indira?
4. Find the difference between Aizhan's and Indira's travel cities: differences_Aizhan, and print

In [11]:
#your code/answer here
differences_Aizhan = Aizhan_travel_places.difference(Indira_travel_places)
print(differences_Aizhan)

{'Moscow', 'Madrid', 'Rome', 'Tokio'}

What are the cities where Indira was, but not Aizhan?
5. Find the difference between Indira's and Aizhan's travel cities: differences_Indira, and print

In [12]:
#your code/answer here
differences_Indira = Indira_travel_places.difference(Aizhan_travel_places)
print(differences_Indira)

{'New York', 'Paris', 'Istanbul'}

# Dictionary (8 points)

In [15]:
Aizhan_travel_places = {1:'Boston', 2:'Madrid', 3:'Tokio', 4:'Rome', 5:'Cancun', 6:'Los Angeles', 7:'Moscow'}

In [16]:
print(Aizhan_travel_places)

{1: 'Boston', 2: 'Madrid', 3: 'Tokio', 4: 'Rome', 5: 'Cancun', 6: 'Los Angeles', 7: 'Moscow'}

What are the last 3 cities where Aizhan had been?
1. Sort the Aizhan_travel_places dict by rank in descending order and print the first 3 items using 'for' loop and sorted() function.

The output should look like this:
Moscow
Los Angeles
Cancun

In [13]:
#your code/answer here
Aizhan_travel_places = {1:'Boston', 2:'Madrid', 3:'Tokio', 4:'Rome', 5:'Cancun', 6:'Los Angeles', 7:'Moscow'}
for rank in sorted(Aizhan_travel_places, reverse=True)[:3]:
    # Print each item
    print(Aizhan_travel_places[rank])

Moscow
Los Angeles
Cancun

2. Safely print rank 5 from Aizhan_travel_places dictionary or 'Not Found'

In [14]:
#your code/answer here
Aizhan_travel_places = {1:'Boston', 2:'Madrid', 3:'Tokio', 4:'Rome', 5:'Cancun', 6:'Los Angeles', 7:'Moscow'}
print(Aizhan_travel_places.get(5,'Not Found'))

Cancun

#NESTED DATA

In [19]:
travel_cities = {'Kazakhstan': {1: 'Almaty',
                        2: 'Astana',
                        3: 'Karaganda'},
                 'USA': {1: 'Boston',
                        2: 'Los Angeles',
                        3: 'San Francisco',
                        4: 'Seattle'},
                 'Europe': {1: 'Rome',
                        2: 'Paris',
                        3: 'London'}}

In [20]:
travel_cities

{'Kazakhstan': {1: 'Almaty', 2: 'Astana', 3: 'Karaganda'},
 'USA': {1: 'Boston', 2: 'Los Angeles', 3: 'San Francisco', 4: 'Seattle'},
 'Europe': {1: 'Rome', 2: 'Paris', 3: 'London'}}

3. Print a list of keys from the travel_cities dictionary

The output should look like this:
dict_keys(['Kazakhstan', 'USA', 'Europe'])

In [15]:
#your code/answer here
travel_cities = {'Kazakhstan': {1: 'Almaty',
                        2: 'Astana',
                        3: 'Karaganda'},
                 'USA': {1: 'Boston',
                        2: 'Los Angeles',
                        3: 'San Francisco',
                        4: 'Seattle'},
                 'Europe': {1: 'Rome',
                        2: 'Paris',
                        3: 'London'}}
print(travel_cities.keys())

dict_keys(['Kazakhstan', 'USA', 'Europe'])

4. Loop over the travel_cities dictionary to safely print the country and the first ranked city or 'Unknown'

The output should look like this:
Kazakhstan Almaty
USA Boston
Europe Rome

In [16]:
#your code/answer here
for country in travel_cities:
    print(country, travel_cities[country].get(1, 'Unknown'))

Kazakhstan Almaty
USA Boston
Europe Rome

5. Create a new key 'Asia' in the travel_cities dictionary and update it with the following data in a list of tuples: (1, 'Tokio'), (2, 'Seoul'). Print the travel_cities

The output should look like this:
{'Kazakhstan': {1: 'Almaty', 2: 'Astana', 3: 'Karaganda'}, 'USA': {1: 'Boston', 2: 'Los Angeles', 3: 'San Francisco', 4: 'Seattle'}, 'Europe': {1: 'Rome', 2: 'Paris', 3: 'London'}, 'Asia': {1: 'Tokio', 2: 'Seoul'}}

In [17]:
#your code/answer here
new_key = {'Asia':{1: 'Tokio', 2: 'Seoul'}}
travel_cities.update(new_key)
print(travel_cities)

{'Kazakhstan': {1: 'Almaty', 2: 'Astana', 3: 'Karaganda'}, 'USA': {1: 'Boston', 2: 'Los Angeles', 3: 'San Francisco', 4: 'Seattle'}, 'Europe': {1: 'Rome', 2: 'Paris', 3: 'London'}, 'Asia': {1: 'Tokio', 2: 'Seoul'}}