In [1]:
import pandas as pd
import numpy as np

1. (1p) Load the data from 'countries.csv' file into a Pandas DataFrame. Assign the name of dataframe as df_countries. Print the first 5 records of the dataframe

In [2]:
filename = 'countries.csv'
df_countries = pd.read_csv(filename)
df_countries.head(5)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987
1,Albania,Europe,2877800,78.57,2.89,11803.431
2,Algeria,Africa,43851043,76.88,1.90,13913.839
3,Andorra,Europe,77265,83.73,NaN,NaN
4,Angola,Africa,32866268,61.15,NaN,5819.495

In [3]:
#your code

2. (1p) How many countries does the dataframe 'df_countries' contain? Use the function to print the number of rows and columns in the 'df_countries'

In [3]:
#your code
print(df_countries.shape[0])

210

3. (1p) Count the number of missing values in each columns of 'df_countries'

In [4]:
#your code
print(df_countries.isna().sum())

location                       0
continent                      0
population                     0
life_expectancy                3
hospital_beds_per_thousand    46
gdp_per_capita                27
dtype: int64

4. (1p) Replace missing values in column 'hospital_beds_per_thousand' with value 0. Print the first 5 records of the dataframe

In [5]:
#your code
print(df_countries['hospital_beds_per_thousand'].fillna(0))

0      0.50
1      2.89
2      1.90
3      0.00
4      0.00
       ...
205    2.60
206    0.00
207    0.70
208    2.00
209    1.70
Name: hospital_beds_per_thousand, Length: 210, dtype: float64

5. (1p) Calculate the total population of all the countries that are listed in the dataset. Your answer should include the function that will calculate the sum.

In [6]:
#your code
print(df_countries.population.sum())

7757980095

6. (2p) Sort the dataframe by 2 variables: 'continent' in ascending order, 'population' in descending order. The sorting should be written in one line of code

In [7]:
#your code
print(df_countries.sort_values(by = ['continent', 'population'], ascending = [True, False]))

                         location      continent  population  life_expectancy  \
141                       Nigeria         Africa   206139587            54.69
63                       Ethiopia         Africa   114963583            66.60
58                          Egypt         Africa   102334403            71.99
52   Democratic Republic of Congo         Africa    89561404            60.68
187                      Tanzania         Africa    59734213            65.46
..                            ...            ...         ...              ...
149                      Paraguay  South America     7132530            74.25
201                       Uruguay  South America     3473727            77.91
84                         Guyana  South America      786559            69.91
180                      Suriname  South America      586634            71.68
65               Falkland Islands  South America        3483            81.44

     hospital_beds_per_thousand  gdp_per_capita
141                         NaN        5338.454
63                          0.3        1729.927
58                          1.6       10550.206
52                          NaN         808.133
187                         0.7        2683.304
..                          ...             ...
149                         1.3        8827.010
201                         2.8       20551.409
84                          1.6        7435.047
180                         3.1       13767.119
65                          NaN             NaN

[210 rows x 6 columns]

7. (2p) How many countries have a high life expectancy? Subset rows where 'life_expectancy' is greater than 80.0, and then calculate the number of countries. (Hint: the number of countries can be calculated using the function that prints the number of rows and columns in dataframe)

In [8]:
#your code
print(df_countries[df_countries['life_expectancy']>80].shape[0])

47

8. (2p) Create and add a new column in countries_df to show the overall GDP per country. The overall GDP os calculated by multiplying population to per capita GDP. Print the first 5 records of the dataframe to check if the new column was added

In [11]:
#your code
print(df_countries['population']*df_countries['gdp_per_capita'].head(5))

0      7.022622e+10
1      3.396791e+10
2      6.101364e+11
3               NaN
4      1.912651e+11
           ...
205             NaN
206             NaN
207             NaN
208             NaN
209             NaN
Length: 210, dtype: float64

9. (1p) Subset rows that will show countries only in 'Europe' and 'Asia'

In [13]:
#your code
print(df_countries[(df_countries["continent"]== "Europe") | (df_countries["continent"]== "Asia")])

           location continent  population  life_expectancy  \
0       Afghanistan      Asia    38928341            64.83
1           Albania    Europe     2877800            78.57
3           Andorra    Europe       77265            83.73
8           Armenia      Asia     2963234            75.09
11          Austria    Europe     9006400            81.54
..              ...       ...         ...              ...
198  United Kingdom    Europe    67886004            81.32
202      Uzbekistan      Asia    33469199            71.72
203         Vatican    Europe         809            75.12
205         Vietnam      Asia    97338583            75.40
207           Yemen      Asia    29825968            66.12

     hospital_beds_per_thousand  gdp_per_capita
0                          0.50        1803.987
1                          2.89       11803.431
3                           NaN             NaN
8                          4.20        8787.580
11                         7.37       45436.686
..                          ...             ...
198                        2.54       39753.244
202                        4.00        6253.104
203                         NaN             NaN
205                        2.60        6171.884
207                        0.70        1479.147

[98 rows x 6 columns]

10. (1p) Change the index of the dataframe from numerical to values in column 'location'. Print the first 5 records of the dataframe

In [14]:
#your code
print(df_countries.set_index('location').head(5))

            continent  population  life_expectancy  \
location
Afghanistan      Asia    38928341            64.83
Albania        Europe     2877800            78.57
Algeria        Africa    43851043            76.88
Andorra        Europe       77265            83.73
Angola         Africa    32866268            61.15

             hospital_beds_per_thousand  gdp_per_capita
location
Afghanistan                        0.50        1803.987
Albania                            2.89       11803.431
Algeria                            1.90       13913.839
Andorra                             NaN             NaN
Angola                              NaN        5819.495

11. (1p) Slice the dataframe to select countries from 'Canada' to 'Costa Rica' using .loc()

In [16]:
#your code
print(df_countries.loc[35:45, :])

                    location      continent  population  life_expectancy  \
35                    Canada  North America    37742157            82.43
36                Cape Verde         Africa      555988            72.98
37            Cayman Islands  North America       65720            83.92
38  Central African Republic         Africa     4829764            53.28
39                      Chad         Africa    16425859            54.24
40                     Chile  South America    19116209            80.18
41                     China           Asia  1439323774            76.91
42                  Colombia  South America    50882884            77.29
43                   Comoros         Africa      869595            64.32
44                     Congo         Africa     5518092            64.57
45                Costa Rica  North America     5094114            80.28

    hospital_beds_per_thousand  gdp_per_capita
35                        2.50       44017.591
36                        2.10        6222.554
37                         NaN       49903.029
38                        1.00         661.240
39                         NaN        1768.153
40                        2.11       22767.037
41                        4.34       15308.712
42                        1.71       13254.949
43                        2.20        1413.890
44                         NaN        4881.406
45                        1.13       15524.995

12. (2p) Slice the dataframe to select countries from 'Kazakhstan' to 'Malaysia', and 2 columns: 'population' and 'gdp_per_capita' using .loc() function.

In [26]:
#your code
print(df_countries.loc[102:119, ["population","gdp_per_capita"]])

     population  gdp_per_capita
102    18776707       24055.588
103    53771300        2993.028
104     1932774        9795.834
105     4270563       65530.537
106     6524191        3393.474
107     7275556        6397.360
108     1886202       25063.846
109     6825442       13367.565
110     2142252        2851.153
111     5057677         752.788
112     6871287       17881.509
113       38137             NaN
114     2722291       29524.265
115      625976       94277.965
116     2083380       13111.214
117    27691019        1416.440
118    19129955        1095.042
119    32365998       26808.164

13. (3p) What are the 10 countries with the highest life_expectancy? Create a new dataframe from 'df_countries' that will include 10 countries with the highest life_expectancy. Assign name for a new dataframe as 'highest_LifeExp_countries'

In [28]:
#your code
highest_LifeExp_countries = df_countries.sort_values('life_expectancy', ascending=False).head(10)
print(highest_LifeExp_countries)

           location      continent  population  life_expectancy  \
127          Monaco         Europe       39244            86.75
162      San Marino         Europe       33938            84.97
87        Hong Kong           Asia     7496988            84.86
99            Japan           Asia   126476458            84.63
37   Cayman Islands  North America       65720            83.92
183     Switzerland         Europe     8654618            83.78
3           Andorra         Europe       77265            83.73
169       Singapore           Asia     5850343            83.62
177           Spain         Europe    46754783            83.56
97            Italy         Europe    60461828            83.51

     hospital_beds_per_thousand  gdp_per_capita
127                       13.80             NaN
162                        3.80       56861.470
87                          NaN       56054.920
99                        13.05       39002.223
37                          NaN       49903.029
183                        4.53       57410.166
3                           NaN             NaN
169                        2.40       85535.383
177                        2.97       34272.360
97                         3.18       35220.084

14. (1p) Save newly created dataframe 'highest_LifeExp_countries' as a 'highest_LifeExp_countries.csv' file.

In [29]:
#your code
highest_LifeExp_countries.to_csv('highest_LifeExp_countries.csv')

#Overall 20 points